* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #262e31;
    padding: 65px 0;
}
h1 {
    margin-bottom: 65px;
    text-align: center;
    color: rgba(235, 236, 236, 0.671);
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:  center;
}
.imgBx {
    margin: 30px 65px;
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d; /*дочерние элементы будут отображаться в 3D-пространстве.*/
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    transition: 0.5s;
    z-index: calc(1 + var(--i));
    opacity: calc(1 - (0.2 * var(--j)));
}
.imgBx:hover img {
    transform:  scale(0.8) rotate(-30deg) skew(25deg) translateX(calc(35px * var(--i))) translateY(calc(-35px * var(--i)));
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.25);
}
